<div class="ui one column padded center aligned grid">
    <div class="left floated left aligned column">
        <a href="{{ link }}">
            <h1 class="ui teal header">
                <i class="code icon"></i>
                {{ title }}
            </h1>
        </a>
    </div>

    <div class="ui equal width three column padded center aligned stackable grid">
        <div class="stretched row maincontent">
            <div class="three wide column">
                <div style="width: 15vw" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/C7J9OWo.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/c">C</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div style="width: 15vw;" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/EafvA2L.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/cpp">CPP</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div style="width: 15vw;" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/iMNRvGB.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/java">JAVA</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="stretched row maincontent">
            <div class="three wide column">
                <div style="width: 15vw" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/zUUWJzt.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/javascript">JAVASCRIPT</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div style="width: 15vw;" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/ya0hSJ1.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/python">PYTHON</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div style="width: 15vw;" class="ui card">
                    <div class="image">
                        <img src="http://i.imgur.com/ya0hSJ1.png">
                    </div>
                    <div class="content">
                        <a class="header" href="{{ link }}/python3">PYTHON3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>