<script>
    var bindTo = {{{ bindTo }}};
    var langMode = {{{ langMode }}};
</script>
<div class="ui left aligned equal width divided padded stackable grid">

    <!-- header -->

    <div class="left floated left aligned column">
        <a href="http://localhost:8080/">
            <h1 class="ui teal header">
                <i class="code icon"></i>
                {{ title }}
            </h1>
        </a>
    </div>

    <!-- editor -->

    <div class="left aligned six column row">
        <div class="column">
            <div id="left-container" class="ui card">
                <div id="editor-container" class="ui raised padded container segment">
                    <pre id="editor">{{ preCode }}</pre>
                </div>
                <div class="content">
                    <div class="left floated">
                        <div class="left aligned two column row">
                            <div class="ui labeled right icon input column">
                                <div class="ui label">
                                    stdin
                                </div>
                                <input id="input-args" class="option-input" placeholder="arg1 arg2" type="text">
                            </div>
                            <div class="ui labeled right icon input column">
                                <input id="permalink-text" class="option-input" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated meta">{{ lang }}</div>
                    <div id="runner" class="ui right floated animated teal button" tabindex="0">
                        <div class="visible content">Run</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div id="reset-editor" class="ui right floated animated olive button" tabindex="0">
                        <div class="visible content">Reset</div>
                        <div class="hidden content">
                            <i class="right refresh icon"></i>
                        </div>
                    </div>
                    <div id="get-permalink" class="ui right floated animated teal button" tabindex="0">
                        <div class="visible content">Get Permalink</div>
                        <div class="hidden content">
                            <i class="right external link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- output -->


        <div class="six column row">
            <div id="left-container" class="ui card">
                <div class="content">
                    <i class="right list alt icon"></i> Stdout/Stderr
                </div>
                <div id="output-window" class="ui raised padded text segment">
                    <div class="ui active dimmer">
                        <span id="output-text" class="left floated"></span>
                        <div class="ui loader"></div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated meta">Docker container: {{ numCores }} Core</div>
                    <div id="output-eraser" class="ui right floated animated olive button" tabindex="0">
                        <div class="visible content">Erase</div>
                        <div class="hidden content">
                            <i class="right eraser icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>