<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css' />
    </head>
    <body>
        {{{body}}}

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"></script>
        <script src="/lib/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="/javascripts/editor.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
