body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden; }

#left-container {
  width: 45vw; }

#editor-container {
  height: 60vh;
  width: 45vw; }

#editor {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#output-window {
  background: black;
  color: white;
  height: 60vh;
  width: 45vw;
  overflow: auto; }

.loader {
  visibility: hidden; }

#output-text {
  padding: 15px;
  text-align: left; }

#permalink-text {
  width: 20vw;
  visibility: hidden; }

.option-input {
  width: 12vw; }

/*# sourceMappingURL=style.css.map */